.Page {
  text-align: center;
}

.nav-items {
  list-style: none;
  display: flex;
}

.nav-items li {
  padding: 0 10px;
}

.header-whole {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 15px 0;
  padding: 5px;
  box-shadow: 0 5px 4px grey;
}

.react-logo {
  width: 60px;
}

.footer {
  background-color: darkgrey;
  text-align: left;
  color: white;
  padding: 10px;
}

.footer-to-bottom {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reasons {
  font-size: 20px;
  margin: 10px 0;
  text-align: left;
}