body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: rgb(59, 59, 65);
}

* {
  box-sizing: border-box;
}


#navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: #21222A;
}

#nav-left-container {
  display: flex;
  align-items: center;
}

#nav-left-container h1 {
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}

#react-logo {
  width: 100px;
  height: fit-content;
}

#nav-right-el {
  font-size: 20px;
  font-weight: 600;
  color: #DEEBF8;
}

.mainContainer {
  padding: 57px 27px;
  background-image: url('./components/images/react-icon-large.png');
  background-repeat: no-repeat;
  height: 100vh;
  background-size:30%;
  background-position: right center;
}

.mainContainer > h2 {
  font-size: 39px;
  margin: 0;
  color: #DEEBF8;
  margin-left: 30px;
  letter-spacing: -0.05em;
}

.mainContainer > ul > li {
  color: #DEEBF8;
  line-height: 19px;
  padding: 5px 0;
}

.mainContainer > ul {
  margin-top: 46px;
  max-width: 400px;
}

.mainContainer > ul > li::marker {
  color: #61DAFB;
  font-size: 1.4rem;
}

