body {
  margin: 0;
  color: black;
  font-family: 'Noto Serif', serif;
}

#picture {
  width: 200px;
  height: fit-content;
  position: relative;
  align-self: top;
  margin: 5px 10px 5px 5px;
  border-radius: 10%;
}

.container {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  height: 300px;
  width: 525px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  box-shadow: inset 0 0 10px 7px black;
}

.info {
  max-height: 300px;
}

.stuff-in-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-height: 300px;
  max-width: 525px;
}

.top-section {
  display: flex;

}

#name {
  font-size: 30px;
  margin: 0;
}

#contact-info {
  padding: 0;
  margin: 0;
  font-size: 12px;
}

.objectives_container > h3 {
  font-size: 20px;
  padding: 0;
  margin: 7px 0 0 0;
}

.objectives_container > ul {
  margin: 0;
  padding: 0 0 0 25px;
}

.objectives_container > ul > li::marker {
  content: '֎';
}

.objectives_container > ul {
  line-height: 25px;
}

.objectives_container > ul > li {
  padding-left: 7px;
}

.bottom-section {
  text-align: center;
}
